h1 {
    text-align: center;
  
}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  padding: 20px;
  /*border-radius: 50px;*/
  display: inline-block;
  border: none;
  /*transition: all 0.4s ease 0.1s;*/
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: -120px;
  position: relative;
  top: 50%;
  left: 50%;
font-weight: bold}
button:hover {
  background-color: lightgray;
  color: black;
}
#date {
  text-align: center;
  background: darkgrey;
  color: white;
  font-weight: bold;
    font-size: large;

}

.box {
  text-align: center;
  width: 30%;
  font-weight: bold;
}

#saveBtn{
  all: revert;
  color: #fff !important;
  width: 300px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
#storageTitle {
  font-size: 50px;
}